html {
  font-size: 5px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 4;
  letter-spacing: 99px;
}

html {
  background-color: #3a86f4;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 900;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
