html {
  font-size: 5px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 20px;
  text-align: left;
  background color: #0f0f0f;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 4;
  letter-spacing: 10px;
}

html {
  background-color: #ff7326;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 25px 20px;
  border: 80px solid black;
}

h1 {
  margin: 50;
  padding: 20px 0;
  color: #ff0060;
  text-shadow: 3px 3px 1px white;
}

img {
  display: block;
  margin: 90 auto;
}
